/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* SUCCESS SNACKBAR */
.green-snackbar .mdc-snackbar__surface {
  background-color: rgb(65, 252, 134) !important;
  color: white !important;
}

.green-snackbar .mdc-button {
  color: white !important;
}

/* FAILURE SNACKBAR */
.red-snackbar .mdc-snackbar__surface {
  background-color: #F44336 !important;
  color: white !important;
}

.red-snackbar .mdc-button {
  color: white !important;
}

/*  App Intialization */
#initial-splash {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.init-icon {
  font-size: 120px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin-bottom: 16px;
}

.init-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 6px;
}
