/* loading-overlay.css */

.loading-overlay {
  position: fixed;
  inset: 0;
  /* top: 0; right: 0; bottom: 0; left: 0 */
  background: #ffffff;
  /* solid white background */
  z-index: 10000;
  /* above all app content */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Prevent any interaction with background */
  pointer-events: all;
}

.init-icon {
  font-size: 120px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin-bottom: 16px;
}

.init-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 6px;
}
