.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;


}
.span-2 {
  grid-column: span 2;
}

.register-title {
  text-align: center;
}


@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;

    .span-2 {
      grid-column: auto;
    }
  }
}
