<mat-toolbar color="primary" class="nav-toolbar">
  <div class="left-section">
    <button
      mat-button
      routerLink="/"
      routerLinkActive="active-btn"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-label="home"
      class="app-brand"
    >
      <mat-icon class="hero-icon">group</mat-icon>
      <span class="app-title">Dating App</span>
    </button>

    <nav class="nav-links" aria-label="primary">
      <a
        mat-button
        routerLink="/members"
        routerLinkActive="active-btn"
        [routerLinkActiveOptions]="{ exact: true }"
        >Matches</a
      >
      <a
        mat-button
        routerLink="/lists"
        routerLinkActive="active-btn"
        [routerLinkActiveOptions]="{ exact: true }"
        >Lists</a
      >
      <a
        mat-button
        routerLink="/messages"
        routerLinkActive="active-btn"
        [routerLinkActiveOptions]="{ exact: true }"
        >Messages</a
      >
    </nav>
  </div>

  <div class="auth-section">
    @if(accountService.currentUser(); as user){
    <div class="user-menu">
      <button mat-button [matMenuTriggerFor]="profileMenu">
        <img src="/user.png" alt="avatar" class="avatar-icon" />
        <span class="user-name">{{ user.displayName }}</span>
      </button>
    </div>
    } @else{
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="auth-form" autocomplete="on">
      <input
        matInput
        class="auth-input"
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="email"
        aria-label="Email"
      />

      <div class="password-wrapper">
        <input
          matInput
          class="auth-input"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Password"
          autocomplete="current-password"
          aria-label="Password"
        />

        <button
          type="button"
          class="toggle-eye"
          (click)="showPassword = !showPassword"
          [attr.aria-pressed]="showPassword"
          aria-label="Toggle password visibility"
        >
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>

      <button mat-flat-button color="accent" type="submit">Login</button>
    </form>
    }
  </div>
</mat-toolbar>

<!-- Dropdown Menu -->
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    Edit Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
